version: '3.8'

services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:8.4.0-alpine
    volumes:
      - redis:/data
    ports:
      - 6379:6379
    

  api:
    build:
      context: api/
      dockerfile: Dockerfile
    volumes:
      - ./api:/var/www/html
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_PASSWORD=${DB_PASSWORD:-securepassword123}
      - REDIS_HOST=redis
    depends_on:
      - db
    ports:
      - 8000:8000
    

  web:
    build:
      context: web/
      dockerfile: Dockerfile
    volumes:
      - ./web:/app
      - /app/node_modules
    depends_on:
      - api
    ports:
      - 3000:3000
  
volumes:
   db_data:
   redis: