NUXT_PUBLIC_APP_NAME=Docker-Ecommerce
NUXT_PUBLIC_API_BASE=http://localhost:8000/api/v1
NUXT_PUBLIC_FRONTEND_URL=http://localhost:3000
NUXT_PUBLIC_PUSHER_APP_KEY=
NUXT_PUBLIC_PUSHER_APP_CLUSTER=
NUXT_PUBLIC_PUSHER_HOST=
NUXT_PUBLIC_PUSHER_PORT=443
NUXT_PUBLIC_PUSHER_SCHEME=https
NUXT_PUBLIC_BEAMS_INSTANCE_ID=
